.root{
    width:100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .display{
        width: 75%;
        
        color: black;
    }

    .select{
        min-width: 100px;
    }

    .admin-navigation{
        width: 15%;
        align-self: center;
        
    }

    
}