.root {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .gridList {
    width: 70%;
    height: 550px;
    background-color: #3333331a;
    

    .image {
      height: 150px;
      width: auto;
      align-self: center;
      border: 1px solid #ddd;
      border-radius: 50%;
      padding: 5px;
      width: 150px;
    }
    .tile {
      border: 1px solid black;
      
    }
  }
}
