.root {
  display: flex;
  justify-content: center;
  .products {
    width: 75%;
    display: flex;
    justify-content: center;

    .product-list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      overflow-x: hidden;
      height: 580px;

      .card {
        min-width: 210px;
        margin: 12px;
        min-height: 280px;
        max-width: 220px;
      }
    }
  }
  .progress {
    align-self: center;
  }

  .navigation {
    text-align: center;
  }
}
