.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    background-color: #94cb32;

    .logo-container{
        padding-left: 55px;
    }
    .options{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 25px;
    }
    .option{
        padding: 10px 15px;
        cursor: pointer;
    }

}