.root {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    .products {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      .product-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        overflow-x: hidden;
        height: 580px;
  
        .card {
          min-width: 210px;
          margin: 12px;
          min-height: 280px;
          max-width: 220px;
        }
      }
    }
    .progress {
      align-self: center;
    }
  
    .navigation {
      text-align: center;
    }
  }
  