.homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 80px;
  

  .directory{
    width: 80%;
  }
  .navigation{
    width: 20%;
    padding-left: 15px;
  }
  

  
}
